*, 
*::after, 
*::before {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    font-weight: normal;
    color: white;
    background-image: linear-gradient(to right top, #060606, #050504, #030303, #020201, #000000);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

.button {
    border-radius: 50px;
    padding: 10px 30px;
    color: white;
}

.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 4rem 11rem 4rem 8rem;
    z-index: 10;
}

.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav a:not(:last-child) {
    margin-right: 7.1rem;
}

.header_nav a {
    font-size: 16px;
    line-height: 150%;
}
 
.header_logo {
    display: block;
    width: 40px;
    height: 40px;
}

.header_button {
    background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
    font-size: 16px; 
    line-height: 150%;
}

.main-display_background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-display {
    padding-top: 27rem;
}

.main-display .container {
    position: relative;
    z-index: 10;
}

.main-display_header {
    max-width: 76rem;
    margin-bottom: 5rem;
    font-size: 64px;
    font-weight: 700;
    line-height: 140%;
}

.main-display_timer {
    display: flex;
    margin-bottom: 76px;
}


.main-display_button {
    background: linear-gradient(141deg, #df5950 0%, #451046 100%);
    font-size: 16px;
    line-height: 150%;
}

.timer_item {
    width: 102px;
    height: 112px;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer_item:not(:last-child) {
    margin-right: 30px;
}

.timer_count {
    font-size: 36px;
    font-weight: 700;
    line-height: 140%;
}

.timer_text {
    font-size: 16px;
    line-height: 140%;
    opacity: 0.4;
}

.work {
    padding-top: 200px;
    padding-bottom: 243px;
}

.work_wrap {
    display: flex;
}

.work_img {
    width: 526px;
    height: 500px;
    margin-right: 140px;
}

.work_text {
    max-width: 636px;
    padding-top: 69px;
}

.work_header {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    margin-bottom: 45px;
}

.work_description {
    font-size: 16px;
    line-height: 160%;
}

.process {
    position: relative;
    padding-bottom: 20rem;
}

.process .process_img {
    transform: rotate(45deg);
    margin-right: 1rem;
}

.process_title {
    display: flex;
    align-items: start;
}

.process_img {
    width: 9rem;
    height: 45px;
    margin-right: 2rem;
}

.process_header {
    font-weight: 700;
    padding-top: 1rem;
    font-size: 48px;
    line-height: 140%;
    margin-bottom: 49px;
}

.process_description {
    max-width: 411px;
    font-size: 16px;
    line-height: 160%;
    opacity: 0.5;
    margin-bottom: 8rem;
}

.process_columns {
    display: flex;
}

.process_columns::after {
    content: '';
    display: block;
    width: 130rem;
    height: 2px;
    position: absolute;
    top: 31rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

.process_item {
    min-width: 306px;
}

.process_work {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    margin-bottom: 65px;
}

.process_text {
    font-size: 14px;
    line-height: 160%;
    opacity: 0.5;
    margin-right: 18px;
}

.command {
    padding-bottom: 12rem;
}

.command_title {
    margin-bottom: 11.9rem;
}

.command_header {
    margin-bottom: 0;
}

.command_wrap {
    display: flex;
    justify-content: space-between;
    padding-left: 114px;
    padding-right: 114px;
}

.command_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.command_img {
    width: 19rem;
    height: 19rem;
    margin-bottom: 4rem;
    border-radius: 50%;
}

.command_name {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 15px;
}

.command_proff {
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.command_link {
    font-size: 16px;
    line-height: 150%;
    border: .1rem solid white;
}

.assembly {
    padding-top: 20px;
    padding-bottom: 180px;
}

.assembly_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.assembly_header {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    margin-bottom: 30px;
}

.assembly_description {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 45px;
    opacity: 0.5;
}

.assembly_button {
    background: linear-gradient(141deg, #df5950 0%, #451046 100%);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 51px;
}

.assembly_social {
    display: flex;
}

.assembly_item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.assembly_item img {
    width: 50%;
    height: 50%;
}

.assembly_item:not(:last-child) {
    margin-right: 3rem;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    padding: 3rem 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.modal_close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.modal_inner {
    position: relative;
    width: 663px;
    padding: 90px 10px;
    background: #2c2c2c;
    text-align: center;
}

.modal_header {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    margin-bottom: 10px;
}

.modal_subheader {
    font-size: 16px;
    line-height: 160%;
    opacity: 0.5;
    margin-bottom: 28px;
}

.modal_elements {
    width: 454px;
    margin: 0 auto 32px auto;
}

.modal_item {
    height: 44px;
    margin-bottom: 32px;
}

.modal_input {
    width: 100%;
    height: 100%;
    background-color: gray;
    border-radius: 50px;
    font-size: 14px;
    line-height: 160%;
    opacity: 0.8;
}

.modal_input::placeholder {
    color: white;
    padding: 11px 30px;
}

.modal_item:not(:last-child) {
    margin-bottom: 18px;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
    padding-right: 1px;
}