*, 
*::after, 
*::before {
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    font-weight: normal;
    color: white;
    background-image: linear-gradient(to right top, #060606, #050504, #030303, #020201, #000000);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    outline: none;
    border: none;
    cursor: none;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

.button {
    border-radius: 50px;
    padding: 10px 30px;
    color: white;
}

.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 4rem 11rem 4rem 8rem;
    z-index: 10;
}

.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_menu {
    display: flex;
    align-items: center;
}

.header_nav a:not(:last-child) {
    margin-right: 7.1rem;
}

.header_nav a {
    font-size: 16px;
}
 
.header_logo {
    display: block;
    width: 40px;
    height: 40px;
}

.header_button {
    margin-left: 55.3rem;
    background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
    font-size: 16px; 
}

.main-display {
    padding-top: 27rem;
}

.main-display_background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-display .container {
    position: relative;
    z-index: 10;
}

.main-display_header {
    max-width: 76rem;
    margin-bottom: 5rem;
    font-size: 64px;
}

.main-display_timer {
    display: flex;
    margin-bottom: 76px;
}


.main-display_button {
    background: linear-gradient(141deg, #df5950 0%, #451046 100%);
    font-size: 16px;
}

.timer_item {
    width: 102px;
    height: 112px;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer_item:not(:last-child) {
    margin-right: 30px;
}

.timer_count {
    font-size: 36px;
}

.timer_text {
    font-size: 16px;
    opacity: 4px;
}